bokeh==3.4.1
certifi==2024.2.2
charset-normalizer==3.3.2
contourpy==1.2.1
idna==3.7
Jinja2==3.1.4
MarkupSafe==2.1.5
numpy==1.26.4
packaging==24.0
pandas==2.2.2
pillow==10.3.0
python-dateutil==2.9.0.post0
pytz==2024.1
pyulog==1.1.0
PyYAML==6.0.1
requests==2.32.2
six==1.16.0
tornado==6.4
tzdata==2024.1
urllib3==2.2.1
xyzservices==2024.4.0
